/* Головний колір #F5F5F5 */
/* Колір фону хедера #ffffff */
/* Колір фону футера #2F303A */
/* Основний колір тексту #212121 */
/* Вторинникй колір тексту #757575 */
/* Колір акцент #2196F3 */

:root {
  --backgroud-color: #f5f5f5;
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --color-accent: #2196f3;
}

body {
  background-color: var(--header-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}


/* text color secondary */
p {
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* site title section */
h1,
h2,
h3,
h4 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* logo */
.logo {
  font-size: 26px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  color: var(--primary-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* logo-studio color */
.logo-studio {
  color: var(--color-accent);
}

/* size text header */
.size-txt-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* site links */

.button-link .site-nav:hover,
.button-link .site-nav:focus {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-accent);
}

/* site buttons*/
.button-link .button:focus {
  font-size: 14px;
  color: var(--color-accent);
  line-height: 1.16;
  letter-spacing: 0.03em;
}

[type="button"] {
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
}

/* site contact email and tel*/
.site-contact .link,
.nav-footer:active {
  font-size: 14px;
  color: var(--color-accent);
}

/* size text on footer */
.title-footer {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

